<app-manager-header></app-manager-header>
<section class="section-main bg padding-top-sm">
  <app-manager-top-menu></app-manager-top-menu>
</section>

<section class="section-content padding-y bg m-auto">
  <div class="container">
    <div class="row">

      <div class="col-3">

          <h4>Spiel {{ edit ? 'Bearbeiten' : 'Hinzufügen' }}</h4>
          <div class="input-group mb-3">
            <input type="text" required name="title" [(ngModel)]="game.title" class="form-control" placeholder="Name" aria-label="Name">
          </div>

          <div class="input-group mb-3">
            <input type="text" required name="maker" [(ngModel)]="game.maker" class="form-control" placeholder="Maker" aria-label="Maker">
          </div>

          <div class="input-group mb-3">
            <input type="number" required  min="1" name="price" [(ngModel)]="game.price" class="form-control" placeholder="Preis">
            <div class="input-group-append">
              <span class="input-group-text">€</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="number" required  min="1" name="stock" [(ngModel)]="game.stock" class="form-control" placeholder="Bestand" aria-label="Bestand" >
          </div>

          <div class="input-group mb-3">
            <select class="custom-select" required id="inputConsole" [(ngModel)]="game.console">
              <option selected >Konsole...</option>
              <option  *ngFor="let console of consoles" >{{console.name | uppercase}}</option>

            </select>
          </div>

          <div class="input-group mb-3">
            <select class="custom-select" required id="inputCategorie" [(ngModel)]="game.genre">
              <option selected >Kategorie...</option>
              <option  *ngFor="let categorie of categories" >{{categorie.name | titlecase}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <input type="text" required name="image" [(ngModel)]="game.image" class="form-control" placeholder="Bild URL"  aria-label="bild" >
          </div>
          <button type="submit" class="btn btn-primary mr-2 btn-block btn-lg" [disabled]=" game.title.length == 0 || game.price <= 0 ||  game.stock<=0 " (click)="edit ? updateGame() : saveNewGame()">{{ edit ? 'Speichern' : 'Hinzufügen' }}</button>
        <label *ngIf="game.title.length == 0 || game.price <= 0 ||  game.stock<=0 "> Complete Form !</label>
      </div>


      <div class="col-md-4">
        <h4>Demo</h4>
        <figure class="card card-product">
          <div class="img-wrap"><img  [src]="game.image == '' ? 'https://semantic-ui.com/images/wireframe/image.png' : game.image" alt="Kein Bild"></div>
          <figcaption class="info-wrap">
            <h4 class="title">{{game.title  == '' ? 'Name' : game.title | uppercase}}</h4>
            <h5 class="desc">{{game.console  == '' ? 'Konsole' : game.console | uppercase}}</h5>
            <p class="desc">{{game.maker  == '' ? 'Hersteller' : game.maker | titlecase}}</p>
            <div class="rating-wrap">

              <div class="label-rating">Release Datum:  {{game.created_at | date: 'yyyy-MM-dd'}}</div>
            </div> <!-- rating-wrap.// -->
          </figcaption>
          <div class="bottom-wrap">
            <div class="price-wrap h5">
              <span class="price-new">{{game.price}} €</span> <del *ngIf="game.old_price > 0"  class="price-old">{{game.old_price}} €</del>
            </div> <!-- price-wrap.// -->
          </div> <!-- bottom-wrap.// -->
        </figure>
      </div>





    </div>
  </div>

</section>
<app-footer></app-footer>



