<app-header></app-header>

<section class="section-content padding-y bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="comment">Kontaktieren Sie uns:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
          <span (click)="sendMessage()" class="btn btn-primary mt-3 float-right">Senden</span>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
