<div class=" row p-2">
  <div class="card col-4" >
    <div class="card-body">
      <h5 class="card-title">Spiele</h5>
      <p class="card-text">Spiele bearbeiten, löschen und Hinzufügen</p>
      <a href="#" class="btn btn-primary">Spiele</a>
    </div>
  </div>

  <div class="card col-4 " >
    <div class="card-body">
      <h5 class="card-title">Kunden</h5>
      <p class="card-text">Kunden Bearbeiten und Bestellungen verfolgen</p>
      <a href="#" class="btn btn-primary">Kunden</a>
    </div>
  </div>

  <div class="card col-4 " >
    <div class="card-body">
      <h5 class="card-title">Bestellungen</h5>
      <p class="card-text">Alle Bestellungen verfolgen</p>
      <a href="#" class="btn btn-primary">Bestellungen</a>
    </div>
  </div>
</div>
