<div class="row mx-2">
  <div class="card col-4" >
    <div class="card-body">
      <h5 class="card-title">Spiele</h5>
      <p class="card-text">Spiele bearbeiten, löschen und Hinzufügen</p>
      <a routerLink="/games" routerLinkActive="active"  class="btn btn-secondary">Spiele</a>
    </div>
  </div>

  <div class="card col-4" >
    <div class="card-body">
      <h5 class="card-title">Kunden</h5>
      <p class="card-text">Kunden Bearbeiten und Bestellungen verfolgen</p>
      <a routerLink="/customers" routerLinkActive="active"  class="btn btn-secondary">Kunden</a>
    </div>
  </div>

  <div class="card col-4 " >
    <div class="card-body">
      <h5 class="card-title">Bestellungen</h5>
      <p class="card-text">Alle Bestellungen verfolgen</p>
      <a routerLink="/orders" routerLinkActive="active"  class="btn btn-secondary">Bestellungen</a>
    </div>
  </div>
</div>
