<header class="section-header">


  <section class="header-main shadow-sm">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4">
          <div class="brand-wrap">
            <h2 routerLink="/home">{{ title }}</h2>
          </div> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-4 col-xl-5 col-sm-8">
          <form action="#" class="search-wrap">
            <div class="input-group w-100">
              <input type="text" name="search" [(ngModel)]="word" class="form-control" style="width:55%;" placeholder="Suchen...">
              <div class="input-group-append">
                <button class="btn btn-primary"  type="button" [routerLink]="['/search/', word]" (click)="window.location.reload();">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-5 col-xl-4 col-sm-12">
          <div class="widgets-wrap float-right">
            <a routerLink="/cart" routerLinkActive="active" class="widget-header mr-3">
              <div class="icontext">
                <div class="icon-wrap"><i class="icon-sm round border fa-2x fa fa-shopping-cart"></i></div>
                <div class="text-wrap">
                  <span class="small badge badge-danger">{{ cartQuantity ?  cartQuantity : 0  }}</span>
                  <div>Cart</div>
                </div>
              </div>
            </a>
            <div ngbDropdown placement="bottom-left" autoClose="outside" class="widget-header dropdown">
              <a routerLink="/login" data-toggle="dropdown" data-offset="20,10">
                <div class="icontext">
                  <div class="icon-wrap"><i class="icon-sm round border fa-2x fa fa-user"></i></div>
                  <div class="text-wrap">
                    <small>{{ loggedinCustomer.name  }}</small>

                    <div>Mein Konto</div>
                  </div>
                </div>
              </a>
            </div>  <!-- widget-header .// -->
            <button *ngIf="login" class="btn btn-danger rounded-circle" (click)="logout()"><i class="fa fa-sign-out"></i></button>
          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header> <!-- section-header.// -->
<router-outlet></router-outlet>
