<footer class="footer section-footer bg2 footer-bottom">
  <div class="container">
    <section class="footer-bottom row">
      <div class="col-sm-6">
        <p> Medieninformatik 4</p>
      </div>
      <div class="col-sm-6">
        <a class="float-right ml-3" routerLink="/dashboard" >Admin Dashboard</a>
        <a class="float-right ml-3" routerLink="/home" >Home</a>
        <a class="float-right" routerLink="/contact" >Kontakt</a>

      </div>
    </section> <!-- //footer-top -->
  </div><!-- //container -->
</footer>
