<div class="container">
  <div class="row">
    <div *ngFor="let game of games  " class="col-md-4">
      <figure class="card card-product">
        <div class="img-wrap"><img  [src]="game.image"></div>
        <figcaption class="info-wrap">
          <h4 class="title"> {{game.title | uppercase}}</h4>
          <h5 class="desc">{{game.console | uppercase }}</h5>
          <p class="desc">{{game.maker}}</p>
          <div class="rating-wrap">

            <div class="label-rating">Release Datum: {{game.created_at | date: 'yyyy-MM-dd'}}</div>
          </div> <!-- rating-wrap.// -->
        </figcaption>
        <div class="bottom-wrap">
          <a class="btn btn-sm btn-primary float-right ml-3">Kaufen</a>
          <a href="" class="btn btn-sm btn-secondary float-right">Mieten</a>
          <div class="price-wrap h5">
            <span class="price-new">{{game.price}} €</span> <del *ngIf="game.old_price > 0"  class="price-old">{{game.old_price}} €</del>
          </div> <!-- price-wrap.// -->
        </div> <!-- bottom-wrap.// -->
      </figure>
    </div>
  </div>
</div>
