<div class="card">
  <div class="card-body">
    <!-- ================= main slide ================= -->
    <ngb-carousel >
      <ng-template ngbSlide>
        <img src="assets/images/banners/slide1.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/banners/slide2.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/banners/slide3.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- ============== main slidesow .end // ============= -->
  </div> <!-- card-body .// -->
</div> <!-- card.// -->
