<app-header></app-header>
<section class="section-main bg padding-top-sm">
  <div class="container">
    <app-main></app-main>
  </div>
</section>

<section class="section-content padding-y bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-game-card></app-game-card>
      </div>
      <div class="col-md-4">
        <app-game-card></app-game-card>
      </div>
      <div class="col-md-4">
        <app-game-card></app-game-card>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
