<div class="card">
  <header class="card-header bg-secondary white">
    <i class="icon-menu"></i> Genre
  </header>
  <ul class="menu-category">
    <li> <a href="#">Action </a></li>
    <li> <a href="#">Adventure </a></li>
    <li> <a href="#">Electronic </a></li>
    <li> <a href="#">Figuren  </a></li>
    <li> <a href="#">Fun-Games  </a></li>
    <li> <a href="#">Gesellschaftspiele  </a></li>
    <li> <a href="#">Jump and Run  </a></li>
    <li> <a href="#">Simulation  </a></li>
    <li> <a href="#">Sportspiele  </a></li>
    <li> <a href="#">Strategie  </a></li>

  </ul>
</div> <!-- card.// -->
