<body class="text-center">
<div class="form-signin">
  <h2 routerLink="/home">{{ title }}</h2>
  <h1 class="h3 mt-5 mb-3 font-weight-normal">Registrieren</h1>
  <label id="name" class="sr-only">Vorname</label>
  <input type="text" name="name" class="form-control" placeholder="Vorname" required autofocus [(ngModel)]="customer.name">
  <label id="last_name" class="sr-only">Name</label>
  <input type="text" name="last_name" class="form-control" placeholder="Name"  autofocus [(ngModel)]="customer.last_name">
  <label id="email" class="sr-only">Email addresse</label>
  <input type="email" name="email" class="form-control" placeholder="Email addresse" required autofocus [(ngModel)]="customer.email">
  <label id="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="customer.password">

  <button [disabled]=" customer.name =='' ||  customer.last_name =='' ||  customer.email =='' || customer.password ==''"  class="btn btn-lg btn-primary btn-block mt-3 mb-3" (click)="register()" >Registrieren</button>
  <div class="alert-box">{{ msg }}</div>

  <a routerLink="/login" routerLinkActive="active"  class="">Login</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</div>

</body>
