<app-header></app-header>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y border-top">
  <div class="container">

    <div class="row">
      <main class="col-sm-9">

        <div class="card">
          <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
              <th scope="col">Produkt</th>
              <th scope="col" width="120">Menge</th>
              <th scope="col" width="120">Preis</th>
              <th scope="col" class="text-right" width="200">Action</th>
            </tr>
            </thead>
            <tbody>
            <p *ngIf="items.length <1" class="m-3">Warenkorb leer !</p>
            <tr *ngFor="let item of items  ">
              <td>
                <figure class="media">
                  <figcaption class="media-body">
                    <h6 class="title ">{{item.gametitle}}</h6>
                    <dl class="dlist-inline small">
                      <dt>ID: </dt>
                      <dd>{{ item.gameid }}</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                {{ item.quantity  }}
              </td>
              <td>
                <div class="price-wrap">
                  <var class="price">{{ item.price * item.quantity }} €</var>
                  <small class="text-muted">({{ item.price  }} each)</small>
                </div> <!-- price-wrap .// -->
              </td>
              <td class="text-right">
                <a (click)="removeGame(item.id)" class="btn btn-outline-danger"> × Entfernen</a>
              </td>
            </tr>
            <button (click)="clearCart()" [disabled]="items.length<1" class="btn btn-danger m-3">Warenkorb leeren</button>

            </tbody>
          </table>
        </div> <!-- card.// -->

      </main> <!-- col.// -->
      <aside class="col-sm-3">
        <div class="alert alert-primary">
          <p>Guthaben : {{ loggedinCustomer.credit  }} €</p>
          <button class="btn btn-light">Konto aufladen</button>
        </div>
        <dl class="dlist-align h4">
          <dt>Total:</dt>
          <dd class="text-right"><strong>{{ total  }} €</strong></dd>
        </dl>
        <button [disabled]="loggedinCustomer.credit > total || loggedinCustomer.credit == 0 " class="btn btn-primary btn-block">Kaufen</button>
        <hr>


      </aside> <!-- col.// -->
    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<app-footer></app-footer>
<router-outlet></router-outlet>

