<div class="container">
  <div class="row">
    <table class="table table-striped">

      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Konsole</th>
        <th scope="col">Alter Preis</th>
        <th scope="col">Neuer Preis</th>
        <th scope="col">Bestand</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games" >
        <th scope="row">{{game.id}}</th>
        <td>{{game.title | uppercase}}</td>
        <td>{{game.console | uppercase }}</td>
        <td>{{game.old_price}}</td>
        <td>{{game.price}}</td>
        <td>{{game.stock}}</td>
        <td>
          <button type="button" class="btn btn-primary mr-2">Bearbeiten</button>
          <button type="button" class="btn btn-danger">Löschen</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
